.notification-dropdown__container {
    position: absolute;
    top: 55px;
    width: 260px;
    box-shadow: 2px 2px 1px #eee;
    border-radius: 8px;
}

.notification-dropdown__header {
    background-color: aliceblue;
    text-align: left;
}

.notification-dropdown__header p {
    color: black;
    font-size: 14px;
    text-align: left;
    font-weight: 500;
    text-align: center;
    padding: 4px 4px;
    /* border-bottom: 1px solid #999; */
    margin-bottom: 4px;
}

.notification-dropdown__content {
    background-color: white;
    padding-top: 4px;
}

.notification-dropdown__content p.summary {
    font-size: 12px;
}

.notification-dropdown__list {}

.notification-dropdown__list .notification-dropdown-list__item {
    border-bottom: .5px solid #eee;
}

.notification-dropdown__list .notification-dropdown-list__item p.summary {
    font-size: 12px;
}

.text {
    color: #222;
    font-size: 14px;
}

.hide {
    display: none;
}

.notification-dropdown-list__item :hover {
    background-color: #eee;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
.notification-dropdown__container {
    position: absolute;
    top: 55px;
    width: 100%;
    box-shadow: 2px 2px 1px #eee;
    border-radius: 8px;
}
}