.chat-container{
    position: fixed;
    bottom: 0;
    right: 10px;
    height: 50px;
    width: 300px;
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 1px 5px 5px #aaa;
    transition: .4s all linear;
}

.chat-container.show {
    height: 750px;
}

.chat-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #eee;

    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
}
.chat-header .left {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.chat-header img {
    height: 30px;
    margin-right: 10px;
    border-radius: 50px;
}

.chat-header h4 {
    font-size: 18px;
}
.chat-header .right-caret{
    cursor: pointer;
}
.chat-header .right i{
    padding: 10px;
    color: black;
    font-size: 14px;
}

.chat-body{
    padding: 12px 0;
}

.chat-body .searchbox {
    padding: 0px 16px;
}

.chat-body .search-input {
    width: 100%;
    border: none;
    background-color: #eee;
    padding: 8px;
}

.chat-body .contact-list {
    margin-top: 16px;
}
.chat-body .contact-list .contact-item {
    display: flex;
    transition: .4s all ease-in-out;
    padding: 4px 16px;
}

.chat-body .contact-item:hover {
   background-color: #eee;
   cursor: pointer;
}

.chat-body .contact-item.selected {
    background-color: #ddd;
}

.chat-body .contact-item img{
    border-radius: 50px;
    height: 45px;
}

.chat-body .contact-item .contact-detail {
    margin-left: 10px;
    flex: 1;
    align-self: center;

}

.chat-body .contact-item .contact-detail h4 {
    font-size: 16px;
    font-weight: bold;
}

.chat-body .contact-item .contact-detail p {
    font-size: 14px;
}