/* user header */

.userProfile-header {
    position: relative;
}
.avatar-title {
    font-weight: bold;
    font-size: 36px;
    padding: 45px;
    color: white;
}

.profilePic-label {
    cursor: pointer;
}

.profilePic-label .pi-camera {
    font-size: 14px;
    border: 1px solid #5a2846;
    background-color: #5a2846;
    border-radius: 100%;
    padding: 7px;
    color: white;
}
.pi-active {
  color: #55B3B1;
}
