.login-pane-right {
    background-color: fff;
    min-height: 101vh;
}

.brand-logo {
    margin: 23px auto;
}

.login-pane-right .login-title {
    font-weight: 600;
    margin-top: 0px;
}

.fandlname {
    margin-left: 4px
}

.signupbtn {
    margin-left: 40px;
}

.confirmbtn {
    margin-left: 3vw
}

.logo-container {
    margin: 10px 0;
    text-align: center;
}

.bgimage {
    background-image: url('../../assets/images/workspace.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.sendsms {
    margin-right: 21vw;
    display: inline;
}

.title,
.sub-title {
    font-weight: bolder;
    color: rgb(44, 165, 94);
    font-family: serif;
    text-decoration: overline;
}

@media screen and (max-width: 767px) {
    .sendsms {
        margin-right: 48vw;
    }
    .confirmbtn {
        margin-left: 7vw;
    }
    .message {
        margin-bottom: 6vh;
        color: #5A2846;
        ;
    }
    .small-screen {
        display: none;
    }
    .login-pane-left {
        min-height: 30vh;
        max-height: 30vh;
    }
    .login-pane-right {
        padding: 30px;
    }
}

.appcolor {
    background-color: #5A2846;
}

.app-color {
    color: #5A2846;
}

.left-content {
    margin: 60px;
    margin-top: 24vh;
    color: white;
}

.login-pane-left {
    background-color: #5A2846;
}

.label {
    display: inline;
}