/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


/*  apply a natural box layout model to all elements  */

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.login-pane-right {
    background-color: #fff;
    min-height: 101.3vh;
}

.brand-logo {
    margin: 23px auto;
}

.login-pane-right .login-title {
    font-weight: 700;
    margin-top: 0px;
}

.fandlname {
    margin-left: 50px;
}

.loginbtn {
    margin-left: 40px;
}

.bgimage {
    background-image: url('../../assets/images/loginimg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 70%; */
    height: auto;
}

.socialmedia {
    border-radius: 10px;
    height: max-content;
    width: 156px;
    margin: auto;
}

.socialmedia.google {
    background: #881008;
}

.left-content {
    margin: 24vh 60px 60px 60px;
    /* margin-top: 24vh; */
    color: white;
}

.error-msg {
    margin-right: 20px;
}

.login-pane-left {
    background-color: #5A2846;
}

@media screen and (max-width: 500px) {
    .small-screen {
        display: none;
    }
    .sm-page-title {
        margin: 6vh 0 4vh 0;
    }
    .sm-social-media {
        margin: 3vh 0;
    }
    .spanOr {
        margin-bottom: 3vh;
    }
    .login-pane-left {
        min-height: 30vh;
        max-height: 30vh;
    }
    .login-pane-right {
        padding: 30px;
    }
}

.spanOr {
    font-size: large;
    margin: 3vh 0;
}

.styleclass {
    width: 49px !important;
    height: 49px !important;
}

.socialmediaicon {
    font-size: 4rem;
    min-width: 6rem;
    height: 4rem;
    line-height: 3rem;
}

.forgot-pwd,
.sign-up {
    color: #5A2846;
}

.er {
    margin-left: 0px;
}


/* style={{ fontSize: '4rem', minWidth: '6rem', height: '4rem', lineHeight: '3rem' }} */