.login-pane-right {
    width: 500px;
    background-color: #fff;
    min-height: 101.3vh;
}

.brand-logo {
    margin: 23px auto;
}

.login-pane-right .login-title {
    font-weight: 700;
    margin-top: 0px;
}

.fandlname {
    margin-left: 50px;
}

.loginbtn {
    margin-left: auto;
    margin-right: auto;
    width: 31vw;
}

.bgimage {
    background-image: url('../../assets/images/loginimg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.socialmedia {
    border-radius: 10px;
    height: max-content;
    width: 156px;
    margin: auto;
}

.socialmedia.google {
    background: #881008;
}

.socialmedia.facebook {
    background: #4d6f92;
}

@media (min-width: 320px) and (max-width: 600px) {
    /* .login-pane-right {
        height: 100vh;
    } */
    .loginbtn {
        margin-left: auto;
        margin-right: auto;
        width: 78vw;
    }
}


/* @media (min-width: 320px) and (max-width: 600px) {
    .smallscreen {
        text-align: center;
    }
} */

.spanOr {
    font-size: large;
    font-weight: bolder;
}