                .login-pane-right {
                    background-color: fff;
                    min-height: 102vh;
                }
                
                .brand-logo {
                    margin: 3px auto;
                    text-align: center;
                }
                
                .login-pane-right .login-title {
                    font-weight: 600;
                    margin-top: 0px;
                }
                
                .fandlname {
                    margin-left: 4px
                }
                
                .signupbtn {
                    margin-left: 40px;
                }
                
                .bgimage {
                    background-image: url('../../assets/images/workspace.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                
                .left-content {
                    margin: 60px;
                    margin-top: 24vh;
                    color: white;
                }
                
                .login-pane-left {
                    background-color: #5A2846;
                }
                
                .gender-margin {
                    margin-right: 339px;
                }