                .login-pane-right {
                    background-color: #fff;
                    min-height: 102vh;
                }
                
                .brand-logo {
                    margin: 3px auto;
                    text-align: center;
                }
                
                .login-pane-right .login-title {
                    font-weight: 600;
                    margin-top: 0px;
                }
                
                .fandlname {
                    margin-left: 4px
                }
                
                .signup-btn {
                    margin-left: 40px;
                }
                
                .bgimage {
                    background-image: url('../../assets/images/workspace.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                
                .left-content {
                    margin: 60px;
                    margin-top: 8vh;
                    color: white;
                }
                
                .login-pane-left {
                    background-color: #fff;
                }
                
                .gender-margin {
                    margin-right: 339vw;
                }
                
                .logo-container {
                    margin: 10px 0;
                    text-align: center;
                }
                
                .app-color {
                    color: #5A2846;
                }
                
                .appcolor {
                    background-color: #5A2846;
                    color: #fff;
                }
                
                .title,
                .sub-title {
                    font-weight: bolder;
                    color: rgb(44, 165, 94);
                    font-family: serif;
                    text-decoration: overline;
                }
                
                .header-color {
                    background-color: rgb(44, 165, 94);
                }
                
                .dropdown-demo .p-dropdown {
                    width: 14rem;
                }
                
                .dropdown-demo .country-item-value img.flag {
                    width: 17px;
                }
                
                @media screen and (max-width: 767px) {
                    .small-screen {
                        display: none;
                    }
                    .login-pane-left {
                        min-height: 30vh;
                        max-height: 30vh;
                    }
                    .login-pane-right {
                        padding: 30px;
                    }
                    .jobplicant-logo {
                        margin: 4vh 0;
                    }
                    .sm-page-title {
                        margin: 2vh 0 5vh 0;
                    }
                    .sm-signup-bnt {
                        margin: 2vh 0;
                    }
                    .left-content {
                        margin: auto;
                        margin-top: 8vh;
                        color: #fff;
                        width: 90%;
                    }
                    .sm-height {
                        min-height: '101vh';
                    }
                }