.jobplicant-panel-right {
    background-color: white;
    min-height: 102vh;
    color: #5A2846;
}

.logo-container {
    margin: 35px 0;
    text-align: center;
}


/* .jobplicant-panel-left {
    background-color: rgb(45, 56, 94, 0.9);
    color: #fff;
    min-height: 102vh;
} */

.login-pane-left {
    background-color: #5A2846;
    color: #fff;
    /* width: 50%; */
}

.jobplicant-title {
    font-weight: 600;
}

.back-button {
    font-weight: 500;
}


/* input border bottom */

.inputField:enabled:focus {
    box-shadow: 0 0 0;
}

.box {
    height: 2px;
    background-image: linear-gradient(#5A2846, #5A2846);
    background-position: bottom left;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-color: #e9e9e9;
    transition: background-size 1s, /*animate the background-size*/
    background-position 0s 1s;
    /*don't animate position and add a delay */
    margin-bottom: 20px;
}

.inputField:focus+.box {
    background-position: bottom right;
    background-size: 100% 3px;
}

.inputField {
    border: none;
    color: #5A2846;
}

.pi-undo {
    vertical-align: text-bottom;
}

::placeholder {
    color: #afafaf;
}

.jobplicant-heading {
    margin-bottom: 30px;
}

#enterCode {
    width: 60%;
}

.form-group {
    margin-bottom: 15px;
}

.bgimage {
    background-image: url('../../../assets/images/workspace.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.title {
    margin-top: 24vh;
}

.title,
.sub-title {
    font-weight: bolder;
    color: rgb(44, 165, 94);
    font-family: serif;
    text-decoration: overline;
}

@media (max-width: 767px) {
    .jobplicant-panel-left {
        min-height: 30vh;
        max-height: 30vh;
    }
    .jobplicant-panel-right {
        padding: 30px;
    }
    .small-screen {
        display: none;
    }
}