.pointer {
    cursor: pointer;
}

.profile-connectionButtonContainer {
    white-space: nowrap;
}

.profile-connectionButtonContainer button {
    font-size: 0.8em;
}

.p-dialog-header {
    display: flex!important;
}