.commentForm {
  width: 100%;
  background-color: #5a284625;
  border-radius: 10px;
  padding-bottom: 3rem;
  margin-left: 0.5rem;
}

.timeline-commentInputContainer {
  width: 100%;
  position: relative;
}

.timeline-commentButton {
  position: absolute;
  font-size: 0.8rem;
  height: 35px;
  bottom: 1rem;
  right: 0;
}


.timeline-commentListTitle {
  color: #5A2846;
}

.timeline-commentListTitle:hover {
  text-decoration: underline;
  cursor: pointer;
}

.timeline-commentContainer {
  border-bottom: 1px rgba(128, 128, 128, 0.432) solid;
}

.reply-button {
  display: flex;
  align-items: center;
  background-color: white;
  border: none;
}

.reply-button:hover {
  color: #6FCF97;
}