.timeline-container {
  background-color: #5a28461f;
  padding-top: 5rem;
}

.timeline-content {
  width: 90%;
  margin: auto;
}

.profile-picture-timeline {
  border: 3px #5A2846 solid;  
}

.timeline-profilePicture, .profilepic-startpost-timeline > img {
  border: 3px #5A2846 solid; 
  object-fit: cover;
  background-color: white;
  cursor: pointer; 
}

.timeline-emptyProfilePic {
  border: 5px #5A2846 solid;
  width: fit-content;
  margin: auto;
  font-size: 3rem;
  border-radius: 50%;
  padding: 0.8rem;
  color: #5A2846;
  font-weight: 700;
  background-color: white;
  margin-bottom: 0.5rem;
}

.timeline-dropdownItem {
  font-size: 0.8rem;
  cursor: pointer;
}

.timeline-dropdownItem:hover {
  background-color: #5A2846;
  color: white;
}

.postInputButton {
  width: 100%;
  background-color: #5a284625;
  border-radius: 15px;
  border-color: #5a284625;
}

.postInputButton:hover {
  background-color: #5a284621 !important;
}

.postInputButton > .p-button-label {
  flex: none;
  color: #495057;
}

/* left panel */
.leftpanel-top-container-timeline {
  height: 127px;
  background-color: #5A2846;
}

.leftpanel-bottom-container-timeline {
  text-align: center;
  margin-top: -2.5rem;
}

.timeline-leftpanel-connection {
  padding: 1rem 0;
  border-top: 1px rgba(128, 128, 128, 0.432) solid;
  border-bottom: 1px rgba(128, 128, 128, 0.432) solid;
}

.timeline-companyName {
  color: #5A2846;
  font-weight: 700;
}

.suggestion-button-timeline {
  color: #00000070;
  background: #5a284600;
  border: 2px #00000070 solid;
  width: 2rem !important;
  height: 2rem;
}

.suggestion-button-timeline > .pi-plus {
  font-weight: 600;
  font-size: 0.85rem;
}
/* left panel */

.cardtitle-timeline {
  border-bottom: 1px solid #5a284657;
  font-size: 1rem !important;
  padding: 0.7rem 1rem;
}

.cardsubtitle-timeline {
  font-size: 0.8rem !important;
  display: flex;
  justify-content: space-between;
}

.cardtitle-posts {
  font-size: 1.2rem !important;
  font-weight: 500 !important;
}

.timeline-cardtitle-posttime {
  color: gray;
  display: flex;
  align-items: flex-end;
  font-size: 0.8rem !important;
}

.timeline-cardtitle-posttime > .pi-clock {
  padding-bottom: 0.05rem;
}

/* Recent Jobs sidepanel */
a .cardsubtitle-timeline {
  color: black;
}

.p-card-body-timeline {
  color: rgba(0, 0, 0, 0.616);
}

/* Recent Jobs sidepanel */

/* Recent Jobs sidepanel on hover */
.p-card-body-timeline:hover {
  background-color: #5A2846;
}

 .p-card-body-timeline:hover > .jobDescription-timeline, .p-card-body-timeline:hover > .cardsubtitle-timeline, .p-card-body-timeline:hover .timeline-seemore {
  color: white;
}
/* Recent Jobs sidepanel on hover */
.timeline-seemore {
  color: #5A2846;
  font-weight: 600;
}

.poster-description {
  color: gray;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

.jobDescription-timeline {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.616);
  overflow: hidden;
  max-height: 80px;
}

.skilltag-timeline {
  background-color: #5a28463f;
  color: black;
  padding: 0.3rem 0.5rem;
  border-radius: 15px;
  font-weight: 600;
  margin: 0 10px 10px 0;
}

.likers-picture {
  margin-left: -23px;
}

.cardtitle-statusbar-timeline {
  color: gray;
  display: flex;
  align-items: center;
  font-size: 0.8rem !important;
  justify-content: space-between;
  border-top: 1px rgba(128, 128, 128, 0.432) solid;
  border-bottom: 1px rgba(128, 128, 128, 0.432) solid;
}

.post-statusbar-content {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.post-statusbar-content:hover {
  color: #6FCF97;
  transition: none;
}

.post-statusbar-content .pi-arrow-down, .post-statusbar-content .pi-arrow-up {
  font-weight: 700;
}

.post-statusbar-content:hover .pi-arrow-down {
  color: red;
}

/* Modals */
.viewerGroups-dropdown {
  margin-top: 0.5rem;
  background-color: #5a284625;
  border-radius: 7px;
}

.viewerGroups-dropdown > .p-dropdown-label {
  font-size: 0.8rem !important;
  font-weight: 600;
  padding: 0.3rem 0.5rem;
}

.viewerGroups-dropdown > .p-dropdown-trigger > .p-dropdown-trigger-icon  {
  font-size: 0.8rem;
  width: 1rem;
}

.timeline-profilepic-expanded {
  max-height: 20rem;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: #5A2846;
}

.postInputArea:hover {
  border-color: transparent !important;
  box-shadow: none;
}

.createPostModal-title {
  font-size: 14px;
  font-weight: 600;
  color: #5a2846;
  margin-bottom: 0.25rem;
}

.postTitle-container {
  margin-top: 1rem;
  border: 1px solid #5a2846;
  width: fit-content;
}

.postInputArea {
  width: 100%;
  background-color: inherit;
  border-color: transparent;
}

.postInputArea:focus {
  box-shadow: none !important;
  border-color: transparent !important;
}

.postInputArea:focus-visible {
  outline: none;
}

.addToPost-icon {
  border: 3px solid #5a2846;
  border-radius: 100%;
  padding: 0.25rem;
  background-color: white;
  color: #5a2846;
  font-weight: 700;
  cursor: pointer;
}

.timelineModal-Input {
  background-color: #5a284626;
  border: 1px solid #5a2846;
  border-radius: 10px;
}

.timelineModal-Input > .p-editor-container > .p-editor-toolbar  {
  background-color: inherit;
}

.timelineMediaItem-container {
  background-color: #5a2846;
  border-radius: 10px;
  height:10rem;
  display: flex;
  align-items: center;
  position: relative;
}

.timelineMediaItem-container > button {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  background-color: green;
  border: none;
}

.timelineMediaItem {
  height: 9rem;
  width: 100%;
  object-fit: contain;
}

.timeline-postImage {
  object-fit: contain;
  height: 17rem;
  background-color: #5A2846;
}
/* Modals */

@media screen and (max-width: 1200px) {
  .timeline-content {
    width: 94%;
  }
}

@media screen and (max-width: 800px) {
  .profile-picture-timeline{
    width: 50px;
    margin-right: 0.5rem !important;
    height: 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1168px) {
  .profilepic-startpost-timeline > i {
    font-size: 20px;
  }  

  .profilepic-startpost-timeline > img {
    width: 50px;
    height: 50px;
  }  
}

@media only screen and (max-width: 550px) {
  .profilepic-startpost-timeline > img {
    width: 50px;
    height: 50px;
  }  
}