.login-pane-right {
    min-height: 70vh;
}

.appcolor {
    background-color: #5A2846 !important;
}

.header-color {
    background-color: rgb(44, 165, 94);
}

.bgcolor {
    background-color: rgb(246, 249, 252);
}

.app-color {
    color: #5A2846;
}

.left-content {
    margin-top: 4vh;
}

.label {
    display: inline;
}

.card-size {
    width: 62vw;
    margin: auto;
}

.card-size-list {
    width: 62vw;
    margin: auto;
}

.stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    /* font-family: Times; */
    line-height: 1;
}

.stars:before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profile-picture {
    border-radius: 100%;
    margin-right: 20px;
    width: 90px;
    height: 90px;
}

.find-job1 .single-job1 .job-content1 h4 {
    /* padding-right: 200px; */
    position: relative;
    padding-bottom: 20px;
}

.create-form {
    width: 60;
    margin: auto;
}


/* content tab styles */

.content-tab {
    background-color: #5a2846;
    color: white;
    height: 60px;
}

.content-tab button {
    border: none;
    background-color: initial;
    padding-top: 10px;
}

.content-tab .pi {
    font-size: 20px;
    padding: 4px 20px;
}

.content-tab .tab-titles {
    font-size: 12px;
    font-weight: 600;
    color: #fff;
}

.content-tab-width {
    width: 80%;
    margin: auto;
}

.tab-width {
    width: 76%;
    margin: auto;
}

.back-btn {
    margin-left: 12vw;
    background-color: #6FCF97;
}

.submit-btn {
    margin-left: 50vw;
}

.hight-card:hover {
    transform: scale(1.02);
    cursor: pointer;
    background: rgba(173, 187, 192, 0.1);
}

@media screen and (max-width: 767px) {
    .sendsms {
        margin-right: 48vw;
    }
    .confirmbtn {
        margin-left: 7vw;
    }
    .message {
        margin-bottom: 6vh;
        color: #5A2846;
        ;
    }
    .small-screen {
        display: none;
    }
    /* left .login-pane-left {
        min-height: 30vh;
        max-height: 30vh;
    } */
    .login-pane-right {
        padding: 30px;
    }
    .card-size {
        width: 90%;
        margin: auto;
    }
    /* .card-size-list {
        width: 100%;
        margin: auto;
    } */
    .content-tab-width,
    .card-size-list {
        width: 100%;
    }
    .tab-width {
        width: 95%;
        margin: auto;
    }
    .back-btn {
        margin-left: 6vw;
    }
}