

.preview-pane header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.preview-pane header i{
    font-size: xx-large;
    cursor: pointer;
    color: black;
}

.preview-pane section {
    padding: 0px;
    /* height: 90vh;
    overflow: auto; */
}


/* .preview-pane > .header{
    position: absolute; 
    top: 0; 
    right: 0; 
    left: 0;
    z-index: 900;
} */
