.header-anonymous, .header-anonymous .navbar-area {
  background-color:#5A2846;
  position: sticky;
  top: 0;
}

.header-anonymous .button .login {
  color: white;
}

.header-anonymous .button .login:hover {
  color: white;
}

.header-anonymous .button .btn {
  background-color: white;
  color: #5A2846;
}

.header-anonymous a {
  width: auto;
}