.cardtitle-JobPanelComponent {
  border-bottom: 1px solid #5a284657;
  font-size: 1.1rem !important;
  padding: 0.7rem 1rem;
  color: #5A2846;
}

.cardbody-JobPanelComponent {
  font-size: 0.8rem !important;
}

.cardsubtitle-JobPanelComponent {
  font-size: 0.9rem;
  color: #a93f7e;
  font-weight: 700;
}

.p-card-body-JobPanelComponent {
  color: rgba(0, 0, 0, 0.616);
  padding-top: 0.7rem !important;
  border-bottom: 0.1px solid rgba(128, 128, 128, 0.267);
}

.jobdetails-JobPanelComponent {
  color: rgb(119, 117, 117);
}

a.p-card-body-JobPanelComponent {
  color: rgba(0, 0, 0, 0.829);
}

a.p-card-body-JobPanelComponent:hover div, 
a.p-card-body-JobPanelComponent:hover .jobdetails-JobPanelComponent,
a.p-card-body-JobPanelComponent:hover .seemore-JobPanelComponent {
  color: white;
}

/* .p-card-body-JobPanelComponent:hover > .jobDescription-JobPanelComponent, .p-card-body-JobPanelComponent:hover > .cardsubtitle-JobPanelComponent, .p-card-body-JobPanelComponent:hover div span i {
  color: white;
} */


.p-card-body-JobPanelComponent:hover {
  background-color: #5A2846;
}

.jobDescription-JobPanelComponent {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.616);
}

.seemore-JobPanelComponent {
  color: #5A2846;
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}