.pointer {
    cursor: pointer;
}

.background-top {
    background-color: rgb(35 38 45 / 15%);
    color: #5A2846;
    height: 13rem;
}

.background-bottom {
    background-color: #5a28461f;
}

.dashboard-container {
    width: 90%;
    margin: 0 auto;
    top: -140px;
    position: relative;
}

.cardtitle {
    border-bottom: 1px solid #5a284657;
    font-size: 1rem !important;
    padding: 1rem 1rem;
    background-color: white;
}

.svgimage {
    background-image: url('../../assets/images/Time09.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    background-position: center;
    background-size: contain;
    position: relative;
}

/* Progress chart */
.progressBar-title {
    color: rgb(110, 108, 108);
    display: flex;
    font-size: 12px;
    font-weight: 500;
    justify-content: space-between;
    margin-bottom: 0.3rem;
}

.progressBar {
    margin-bottom: 1rem;
    height: 15px;
    border-radius: 5px;
}

.progressBar1 > .p-progressbar-value {
    background: red;
}

.progressBar2 > .p-progressbar-value {
    background: rgb(255, 153, 0);
}

.progressBar3 > .p-progressbar-value {
    background: blue;
}

.progressBar4 > .p-progressbar-value {
    background: skyblue;
}

.progressBar5 > .p-progressbar-value {
    background: green;
}

/* Progress chart */

.pi-dollar {
    font-size: 1.5rem;
}

/* table */
.p-datatable-wrapper {
    padding: 1rem;
}

.p-datatable .p-datatable-header {
    padding: 0;
}

.p-sortable-column-icon  {
    float: right;
}

.actionColumn-trash, .actionColumn-ellipsis {
    cursor: pointer;
}
/* table */

@media screen and (max-width: 992px) {
    .grid-margin {
        margin-left: -0.25rem;
        margin-right: -0.25rem;
        padding-bottom: 0.5rem !important;
    }
}

@media screen and (max-width: 930px) {
    .datatable-container {
        overflow-x: scroll;
        padding: 0 !important;
        margin-left: .25rem !important;
        margin-right: .25rem !important;
    }
    
    .datatable-content {
        width: 51rem;
    }

    .p-datatable-wrapper {
        padding: 0;
    }

}



